@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
}

.color-label {
    border: 2px #CDCDCD solid;
    width: 300px;
    height: 20px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px 10px 30px;
    font-weight: 700;
    margin-top: 2 0px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
}

#color-picker::-moz-color-swatch {
    border-radius: 50%;
}

.color-generator {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-variations {
    margin-top: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-square {
    width: 80px;
    height: 120px;
    display: inline-block;
    margin: 5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#inform {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #676767;
}

#flat-btn,
#outlined-btn,
#raised-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.flat {
    border: none;
}

.outlined {
    border: 2px solid;
}

#exemples {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

#button-examples {
    text-align: center;
}

#button-examples button {
    margin: auto;
    border-radius: 12px;
    padding: 12px 30px;
    width: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.choice {
    border: 2px gray solid;
    border-radius: 30px;
    margin: 40px;
    width: 30%;
    height: 34px;
}

#card-container {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: white;
    align-content: center;

}

#button-examples {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#current-time{
    font-size: 42px;
}